#seed2 {
	background-color: white;
}

.thumbdiv {

	display: inline-block;
	border: 5px solid #9e9e9e;
	border-radius: 5px;
	
}

.seedesc {
	
	display: inline-block;
	height: 100px;
	width: 200px;
}
.thumbnailimg {

	width: 300px;
}